modules = ["nodejs-20"]


[[ports]]
localPort = 3000
externalPort = 80

[userenv.shared]

ADMIN_PASSWORD = "popeandbluebowtie"

[workflows]

[[workflows.workflow]]
name = "Stop"
mode = "sequential"
author = 54246837

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pkill node"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "cloudrun"
